<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="RestServiceURL" value="http://ec2-54-208-51-43.compute-1.amazonaws.com:8082/queryIncidentFromLog"/>
  <add key="HostServiceURL" value="http://localhost:8089/"/>
</appSettings>
</configuration>